/* Global styles to override test suite floating menu if necessary */
body {
  margin: 0;
  padding: 0;
}

/* FreeCodeCamp test suite fixes */
#fcc_test_suite_wrapper {
  position: fixed !important;
  top: 10px !important;
  right: 10px !important;
  z-index: 9999;
}
